@model ParkDetails
@{
    ViewData["Title"] = "Detail";

}

<h1 style="display:flex; justify-content:center; padding-bottom:20px">@Model.DetailPark.ParkName</h1>
<div style="display:flex; justify-content:center">
    <img src="~/images/@(Model.DetailPark.ParkCode).jpg" />
</div>
<div>
    <p><h4 style="text-align:center">@Model.DetailPark.InspirationalQuote  - <i style="font-size:smaller">@Model.DetailPark.InspirationalQuoteSource</i></h4></p>
</div>
<h3 style="text-align:center; padding:20px">Quick Facts</h3>
<div style="display:flex; justify-content:space-around">
    <div>  
        <p>Location: @Model.DetailPark.State</p>
        <p>Acreage: @Model.DetailPark.Acreage acres</p>
        <p>Elevation: @Model.DetailPark.ElevationInFeet ft.</p>
    </div>
    <div>
        <p>Miles of Trail: @Model.DetailPark.MilesOfTrail mi.</p>
        <p>Number of Campsites: @Model.DetailPark.NumberOfCampsites</p>
        <p>Climate: @Model.DetailPark.Climate</p>
    </div>
    <div>
        <p>Year Founded: @Model.DetailPark.YearFounded</p>
        <p>Annual Vistor Count: @Model.DetailPark.AnnualVisitorCount</p>
        <p>Number of Animal Species: @Model.DetailPark.NumberOfAnimalSpecies</p>
    </div>
</div>
<div style="padding: 40px">
    @Model.DetailPark.ParkDescription
</div>
<div style="padding-bottom:40px">
    <h4 style="text-align:center">***Please note that the fee for entry to @Model.DetailPark.ParkName is $@Model.DetailPark.EntryFee***</h4>
</div>
<div style="display:flex; justify-content: center; padding-bottom:20px">
    <form asp-controller="home" asp-action="detail" asp-route-id="@(Model.DetailPark.ParkCode)" method="post">
        @*<input asp-for="IsFahrenheit" />*@
        <div class="onoffswitch">
            @Html.CheckBoxFor(Model => Model.IsFahrenheit, new { @name = "myonoffswitch", @class="onoffswitch-checkbox", @id="myonoffswitch", @checked="checked"})
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <div>
            <input type="submit" class="onoffswitch-label" style="background-color:#34A7C1; color:white;" value="Change Temperature Scale" />
        </div>
    </form>
</div>
<div style="display:flex">
    <div style="padding-right:20px">
        <h4 style="text-align:center">Today's Weather</h4>
        <img src="~/images/@(Model.AllWeather[0].Forecast).png" />
        <p style="text-align: center">High: @Model.AllWeather[0].High   Low: @Model.AllWeather[0].Low</p>
        <p style="text-align:center">@Model.WeatherAdvice[Model.AllWeather[0].Forecast]
        @if(Model.FahrenheitWeather[0].High > 75)
        {
           @Model.TemperatureAdvice[0]
        }
        @if ((Model.FahrenheitWeather[0].High - Model.FahrenheitWeather[0].Low) > 20)
        {
           @Model.TemperatureAdvice[1]
        }
        @if(Model.FahrenheitWeather[0].Low < 20)
        {
            @Model.TemperatureAdvice[2]
        }
        </p>
    </div>
    <div style="display:flex; flex-direction:column">
        <h4 style="text-align:center; display:inline-block">Extended Forecast</h4>
        <div style="display:flex">
            @foreach (var day in Model.AllWeather)
            {
                if (day.FiveDayForecastValue != 1)
                {
                    <div>
                        <img style="width:50%" src="~/images/@(day.Forecast).png" />
                        <p>High: @day.High   Low: @day.Low</p>
                    </div>
                }
            }
        </div>
        </div>
</div>

