@model Park
@{
    ViewData["Title"] = "Park";
}


@foreach(Park park in Model.AllParks)
{
<div style="display:flex; justify-content:space-around; padding:20px">
    <a asp-controller="Home" asp-action="Detail" asp-route-id="@(park.ParkCode)" method="get">
        <img id="@(park.ParkCode)" style="padding-right:20px" src="~/images/@(park.ParkCode).jpg" />
    </a>
        <div style="display:flex; flex-direction:column; justify-content:space-between">
            <h1>@park.ParkName</h1>
            <h3>Location: @park.State</h3>
            <p>@park.ParkDescription</p>
        </div>
</div>
}